# This is environment varibles example for your bot
# You should fill everything in this file to make your bot works.
NO_GIT_AUTOMATION=YES/NO
NO_PIP_INSTALLED=YES/NO
IS_REPLIT=YES/NO
# your bot token here
bot_token=<bot_token_right_here>
owner_guild_id=<your_owner_guild_id>
# ignore this
not_builder=<anything>
# API configuration:
SCREENSHOT_API_URL=<https://your_api_server.example/>
SCREENSHOT_API_SECRET=<your_key>
DATABASE_URL=<https://your_api_server.example> # no / at the end, e.g: localhost
DATABASE_SECRET=<your_key>